
<ul class="cell">
    <li class="title is-6"><%= link_to product.name, product %></li>
    <li>Price: $<%= product.price %></li>
    <% if product.stock_quantity == 0 %>
        <li>Unavailable</li>
    <% else %>
        <li>Available: <%= product.stock_quantity %></li>
    <% end %>
</ul>



