<h1 class="title">All Products</h1>

<div class="grid">
    <%= render @products %>
</div>

<div>
    
    <% if @page != 0 %>
         <%= link_to "Previous", products_path(page: @page - 1)%>
    <% end %>
    
    <% if @page != @total_pages - 1 %>
        <%= link_to "Next", products_path(page: @page + 1)%>
    <% end %>
    
    
</div>
